/*
 * 프로그램 설명 :
 *      - Calendar.js가 생성하는 팝업창에 적용되는 StyleSheet.
 */

#Cal_Table /* 달력 테이블 */
{
    width:100%;
    height:100%;
    font-size :8pt;
    font-family:맑은 고딕;
}

#Cal_Header /* 달력 헤더 부분 TR태그*/
{
    width:100%;
	text-align:center;
    background-color:#F4F4F4;
    height:24px;
}
#Cal_Header td /* 달력 헤더 부분 */
{
	text-align:center;
    background-color:#F4F4F4;
    height:24px;
}


#Cal_Select /* 년도, 월 선택 드롭다운리스트*/
{
	font-family:맑은 고딕;
	color:#4B4B4B;
	font-size:11px;
}

#Cal_Week /*요일이 찍히는 부분 TR태그*/
{
	color:#4B4B4B;
	/*height:28px;*/
}

#Cal_Week td /*요일이 찍히는 부분 */
{
    padding:2px;
    text-align:center;
    height:28px;
	font-size:12px;
    font-weight:bold;
}


#Cal_Day /* 날짜가 찍히는 Tr태그 */
{
    height:20px;
    text-align:center;
}
#Cal_Today /* 오늘 날짜 TD태그 */
{
	color:black;
	background-color:#FFFFFF;    
	border:#a5a5a5 1px solid;
}
#Cal_MouseOver /* 마우스 오버 */
{
    cursor:pointer;
    background-color:#FFFFFF;
    font-weight:bold;
	border:#6073D1 1px solid;
}


.Cal_Sunday /*모든 일요일*/
{
    color:#cc0000;
	border:#D3D3D3 1px solid;
	background-color:#F4F4F4;
	font-size:10px;
}
.Cal_Weekday /*모든 평일*/
{
    color:#6d6d6d;
	border:#D3D3D3 1px solid;
	background-color:#F4F4F4;
	font-size:10px;
}
.Cal_Saturday /*모든 토요일*/
{
    color:#003399;
	border:#D3D3D3 1px solid;
	background-color:#F4F4F4;
	font-size:10px;
}
.Cal_EmptyDay /*날짜가 출력되지 않는 부분*/
{
	background-color:#FFFFFF;
}
