/************************ 레이 아웃 div CSS ************************/
	html {height:100%; width:100%; margin:0; padding:0; overflow-y:scroll;}
	body {
		height:100%; width:100%;
		margin:0; padding:0; border:0 outset gray;
		background-image : url('/ci3/static/img/bg_dot.jpg');
	}
	/* border : (프레임의 두께) (dotted, dashed, solid, double, groove, ridge, indet, outset 중에서 선택하세요) (프레임색깔)*/
	/* 높이값 100% 마진, 패딩 값이 0일 경우 단위 안붙여도 괜찮음 */
	::selection { background-color: #005FAF; color: #FFF; }
	::-moz-selection { background-color: #005FAF; color: #FFF; }

	/* main_container class css 지정 */
	.main_container {width:1140px; min-height:94.5%; margin:0 auto; background-color:white; border-top:1px solid #A8BBE3; }

	/*===== loading 화면 css 지정 =====*/
	#loading {position:absolute; top:0px; right:0px; left:0px; bottom:0px; background:#000; z-index:100000; opacity: 0.7; text-align:center;}

	/*===== header 부분 css 지정 =====*/
	/*#header_wrap {height: 95px;}*/
	header#top { width:1080px; height:95px; margin:0 auto; border-bottom:5px solid #002779; }
	#main_logo { float:left; width:220px; height:70px; padding:25px 0 0 10px;}
	#top_nav_wrap {float: right; padding-top: 6px; height: 21px;}
	#top_nav_wrap ul li { list-style: none; float: left; line-height: 16px; vertical-align: middle; text-align: center; margin:0 2px 0 2px; }
  #top_nav_wrap .menuLink { text-decoration:none; display: block; width: 70px; font-size: 11px; font-family: "Trebuchet MS", 맑은 고딕, Arial; }
  #top_nav_wrap .menuLink:hover { color: #077ABE; background-color: #efefef; }
	#main_nav_wrap { margin-top: 38px; width: 860px; float: right;}
	#main_nav_wrap ol { margin-left: 20px; }
	#main_nav_wrap ol li { list-style: none; float: left; line-height: 30px; vertical-align: middle; text-align: center; margin-left: 1px;}
  #main_nav_wrap .main_nav { text-decoration:none; display: block; width: 120px; font-size: 11pt; font-family: "Trebuchet MS", 맑은 고딕, Arial;  color: #002779; font-weight: bold; }


  #main_nav_wrap .sel_main_nav { text-decoration:none; display: block; width: 120px;
  	font-size: 11pt; font-family: "Trebuchet MS", 맑은 고딕, Arial;  color: white;
  	font-weight: bold;
  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
		background: rgb(44,83,158); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
	}
  #main_nav_wrap .main_nav:hover { color: white;
  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f85bb+0,4f85bb+100;Blue+3D+%239 */
		background: rgb(79,133,187); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(79,133,187,1) 0%, rgba(79,133,187,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
	}

	/*===== main_contents box 부분 css 지정 =====*/
	div#content_wrap  { overflow:auto; width:1080px; margin:0 auto; padding:20px 0 74px 0;}

	/*===== footer 부분 css 지정 =====*/
	footer#footwrap { margin-top:-10px; height:81px; padding-top:16px; width:1140px; margin:-28px auto; clear:both; background-color: #FFF;}
	/* 푸터 전체 감싸기. 가로값은 100%. 푸터의 높이값 +패딩-top값 만큼 margin-top에 -높이값, 좌,우는 auto, 아래 마진은 0 */
	#footer	  { width:1080px; height:65px; margin:0 auto; border-top:3px solid #626262; font-size:11px; color:#7A7A7A; text-align:center; padding-top:12px; line-height:160%; background-color:#EEEEEE;}



	#index_section_1 { float:left; width:736px; height:485px; padding-right:10px;}
	.main_banner { float: left;  width: 242px;} /*메인 배너 이미지 디브*/
	th#index_noti { width:706px; height:30px; border:1px solid #CBCDD9; padding:1px 0 0 10px;  color:#000000; background:url('/_static/img/headcell_bg.jpg') }
	.index_noti { width:630px; height:30px; padding-top:3px; border-width:0 0 1px 0; border-style:solid; border-color:#EAEBF2; }
	.index_noti_sub { width: 630px;}
	.tb_cap_more { padding-right: 16px; text-align: right; font-size: 8pt; height: 26px;}
	#index_section_2 { float:left; width:344px; height:485px;}
	#index_1st_box { height:218px; border:2px solid #EE8509; }
	#index_2nd_box { height:236px; border:1px solid #CDCDCD; margin-top:10px; }
	#index_section_3 { clear:left; height:280px; border-width:1px 0 0 0; border-style:solid; border-color:#b4b8c5;}
	#index_3rd_box { height:240px; border:1px solid #CDCDCD; margin-top:20px; }




	.pale1 {padding-left: 1px;}
	.pale2 {padding-left: 2px;}
	.pale3 {padding-left: 3px;}
	.pale4 {padding-left: 4px;}
	.pale5 {padding-left: 5px;}
	.pale6 {padding-left: 6px;}
	.pale7 {padding-left: 7px;}
	.pale8 {padding-left: 8px;}
	.pale9 {padding-left: 9px;}
	.pale10 {padding-left: 10px;}

	.pari1 {padding-right: 1px;}
	.pari2 {padding-right: 2px;}
	.pari3 {padding-right: 3px;}
	.pari4 {padding-right: 4px;}
	.pari5 {padding-right: 5px;}
	.pari6 {padding-right: 6px;}
	.pari7 {padding-right: 7px;}
	.pari8 {padding-right: 8px;}
	.pari9 {padding-right: 9px;}
	.pari10 {padding-right: 10px;}

	/*#navi     { width:200px; height:200px; float:left; background-color:#333; }*/
	/*#2nd_content  { width:900px; float:left; }*/ /* 왼쪽 네비와 병행하는 본문 */
	/*#3rd_content  { width:700px; float:left; } *//* 왼쪽 네비, 오른쪽 배너존과 병행하는 본문 */
	/* float:left 왼쪽으로 띄워줌, 각 영역 가로값 계산(모두 더한 것 = #wrap 가로값)해서 고정 시켜줌. */
	/*#sideinfo { width:200px; height:100px; float:right; background-color:#DCDAD9; }*/

/************************ 레이 아웃 div CSS ************************/


/* General Font CSS */
	table,td, div, span, input, textarea, select{ font-family:맑은 고딕;  font-size: 12px; color: #48494F; }

/* 일반 텍스트 CSS */
	.small_text{ font-family:맑은 고딕;  font-size: 11px; color: #7A7A7A; } /* head & foot */

/* 기타 CSS */
	img,input { border:0; vertical-align:middle;}
	a,nav,input,li,img {outline:none; select-dummy: expression(this.hideFocus=true);}


/* 링크 텍스트 CSS */
	A:link { font-size: 12px; color:#7A7A7A;  text-decoration: none;}
	A:visited { font-size: 12px; color:#7A7A7A;   text-decoration: none}
	A:active { font-size: 12px; color:#7A7A7A;  text-decoration: none}
	A:hover {  font-size: 12px; color:#6073D1;   text-decoration: none}

	A.under:link { font-size: 12px; color:#48494F;  text-decoration: none}
	A.under:visited {  font-size: 12px; color:#48494F;   text-decoration: none}
	A.under:active {  font-size: 12px; color:#48494F;  text-decoration: none}
	A.under:hover {  font-size: 12px; color:#6073D1;   text-decoration: underline}

	A.no_auth:link { font-size: 12px; color:#003399;  text-decoration: none}
	A.no_auth:visited {  font-size: 12px; color:#003399;   text-decoration: none}
	A.no_auth:active {  font-size: 12px; color:#003399;  text-decoration: none}
	A.no_auth:hover {  font-size: 12px; color:#000066;   text-decoration: underline}

	A.menu1:link {font-family:맑은 고딕;  font-size: 13px; color: #7C87AC;   text-decoration: none}
	A.menu1:visited {font-family:맑은 고딕; font-size: 13px; color: #7C87AC;   text-decoration: none}
	A.menu1:active {font-family:맑은 고딕;  font-size: 13px; color: #7C87AC;  text-decoration: none}
	A.menu1:hover {font-family:맑은 고딕;  font-size: 14px; color: #5674D5;   text-decoration: none}

	.long_list {
		text-overflow: ellipsis;
	}


/* 테이블, Div CSS */
	.main_content { border-width:0 1px 1px 1px; border-color:#9EACC0; border-style: solid; padding:15px 15px 15px 15px; } /**/
	.d2_sub1 { border-width:2px 2px 0px 2px; border-color:#6BA6FF; border-style: solid; }
	.d2_sub2 { border-width:0 0 2px 0px; border-color:#6BA6FF; border-style: solid; }
	.d3_sub  { border-width:0 0 1px 0; border-color:#B2BCDE; border-style: solid; padding:20px 0 10px 20px; }
	.bottom  { border-width:0 0 1px 0; border-color:#D6D6D6; border-style: solid; }
	.bottom3 { border-width:0 0 1px 0; border-color:#CFCFCF; border-style: solid;}
	.top     { border-width:1px 0 0 0; border-color:#D6D6D6; border-style: solid; }
	.top2    { border-width:1px 0 0 0; border-color:#B2BCDE; border-style: solid; }
	.tb1	 { border-width:1px 0 1px 0; border-color:#CFCFCF; border-style: solid; }
	.tb2	 { border-width:0 0 1px 0; border-color:#E1E1E1; border-style: solid; }
	.form1   { border-width:0 0 1px 0; border-color:#CFCFCF; border-style: solid; color:#000000; padding:5px 0 5px 10px;}
	.form2   { border-width:0 0 1px 0; border-color:#CFCFCF; border-style: solid; color:#4B4B4B; padding:0 0 0 10px;}
	.form3   { border-width:0 1px 1px 0; border-color:#dddddd; border-style: solid; color:#4B4B4B;}
	.blue_title {float:left; height:24px; padding-top:6px; border-width:1px 1px 1px 0; border-style:solid; border-color:#dddddd; background-color:#E2F0FC; color:#003366;}
	.bor_ddd {float:left; height:24px; padding-top:6px; border-width:1px 1px 1px 0; border-style:solid; border-color:#dddddd;}


/* FORM CSS */
	.inputstyle {border-width: 1px 1px 1px 1px; border-color:#91D752; border-style: solid; background:#F0FAE6; font-size:12px}
	.searchline { border-width:1px 1px 1px 1px; border-color:#DBDBDB; border-style: solid; BACKGROUND-COLOR:#F8F8F7;}
	.bt_form { border-width: 1px 0 1px 1px; border-color:#cccccc; border-style: solid; cursor:pointer; }
	.Inputcheck {border:#cccccc 0px solid;}
	.inputstyle1 {font-family:맑은 고딕; color:#7A7A7A; border: #cccccc 1px solid; font-size: 9px; height:15px;}
	.inputstyle11 {font-family:맑은 고딕; color:#7A7A7A; border: #cccccc 1px solid; font-size: 12px; background-color:#e0ecfe;}

	.inputstyle2  { border-width:1px 1px 1px 1px; border-color: #cccccc; border-style: solid; font-size: 12px; height:18px;}
	.inputstyle22 { border-width:1px 1px 1px 1px; border-color: #cccccc; border-style: solid; font-size: 12px; height:18px; background-color:#f4f3e8;}
	.inputstyle_bt  { border:1px solid #eee; outline:1px solid #ccc; font-size: 11px; height:20px; padding-bottom:2px; background-color:#ECE9DD;}
	.submit_bt  {font-family:맑은 고딕; border:1px solid #fff; outline:1px solid #ccc; font-size: 12px; background-color:#A4B0BD; color:white; padding-bottom:3px; cursor:pointer; cursor:pointer; }
	.submit_bt2 {font-family:맑은 고딕; border:1px solid #eee; outline:1px solid #ccc; font-size: 12px; width:90px; height:28px; background-color:#838da5; color:white; padding-bottom:3px; cursor:pointer;}

  .input { font-size:9pt; color:black; border:1x solid black; }
	.button {font-family:맑은 고딕; border: #cccccc 1px solid; font-size: 12px; background-color:#99ccff;}
	.sub_bt1{border-width:1px 1px 1px 1px; border-color: #707070; border-style: solid; background-color:#DEDEDE; line-height:170%; cursor:pointer;}
	.sub_bt2{border-width:1px 1px 1px 1px; border-color: #4A96B0; border-style: solid; background-color:#A6F4FF; line-height:170%;} cursor:pointer;
	.sub_bt3{border-width:1px 1px 1px 1px; border-color: #0089B4; border-style: solid; background-color:#34B4E3; line-height:170%; cursor:pointer;}
